[build]
  # This command forces a clean install, sets permissions, and then builds
  command = "rm -rf node_modules package-lock.json && npm install && chmod +x ./node_modules/.bin/vite && npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200